<script src="/assets/js/login.js"></script>

<form class="form-signin" action="javascript:submitform()">
    <div class="text-center mb-4">
        <img class="mb-4" src="http://teneightytwo.co.uk/static/img/illustrations/web-design-development-svg.svg" alt="" width="256" height="256">
        <h1 class="h3 mb-3 font-weight-normal">MVC-Template</h1>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputEmail">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

{{!-- <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Remember me
    </label>
</div> --}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>
</body>