<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <span data-feather="users"></span>
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rooms">
                    <span data-feather="tv"></span>
                    Meeting Rooms
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles">
                    <span data-feather="shopping-cart"></span>
                    Equipment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event-types">
                    <span data-feather="list"></span>
                    Event Types
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">
                    <span data-feather="calendar"></span>
                    Events
                </a>
            </li>
        </ul>
    </div>
</nav>